#section-1-forum
    position: relative
    width: 100%
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/forum.jpg)
    background-attachment: fixed

    .container
        padding: 70px 0
        color: #f0f0f0

        p 
            color: #cfcfcf

#section-2-forum
    position: relative
    .container
        padding: 0
        .bar
            // height: auto
            // background: #eeeeee
            width: 100%
            padding: 20px 10px
            position: relative

            ul 
                display: flex
                list-style: none
                margin: 0
                vertical-align: middle

                li 
                    padding: 0 10px
                    border-right: 1px solid #444444
                    vertical-align: baseline

                    a 
                        text-decoration: none
                        color: #4B4B4B
                        vertical-align: middle
                        // padding: 10px 0
                    
                    a:hover 
                        color: #2bcea8
                    
            .btn
                position: absolute
                top: 14px
                right: 20px

        .content-box
            display: flex
            padding-bottom: 30px
            border-bottom: 1px solid #eeeeee

            .content-profile 
                height: 110px
                width: 130px
                border-radius: 50%

            .content-forum
                padding: 0 20px
    
    .hashtag-box
        padding: 20px 10px

        .btn-primary
            width: 100%

        .hashtag-list 
            margin: 0

            p 
                cursor: pointer
                width: min-content
                margin-bottom: 5px
                padding: 5px 15px
                margin: 5px 0
            .hash1 
                color: #ffffff
                background: #2bcea8
            .hash2 
                color: #ffffff
                background: #6ce2ff
            .hash3 
                color: #ffffff
                background: #bdbdbd
            .hash4 
                color: #ffffff
                background: #ffadad
            .hash5 
                color: #ffffff
                background: #e1aeff