* 
    margin: 0
    padding: 0 
    box-sizing: 0

body 
    padding: 0
    margin: 0
    overflow-x: hidden
    font-family: 'Poppins', sans-serifs !important
    background: #fefefe!important
    color: #4B4B4B

.navbar 
    background: #fefefe

.nav-item 
    .nav-link
        color: #4B4B4B 
.nav-top
    padding: 20px 10px
    .form-search
        position: relative
        input 
            border: 1px solid #4B4B4B !important
            border-radius: 0
        .logo-search
            position: absolute
            z-index: 5
            top: 7px
            right: 25px
            height: 25px
            width: 25px
.nav-bot
    border-bottom: 2px solid #2bcea8

.brand-gameforce
    color: #2bcea8
    letter-spacing: 5px
    font-weight: bold
p 
    margin-bottom: 0
    color: #4B4B4B

.btn-sign-in
    background: #2bcea8 !important
    color: #ffffff !important

.btn
    border-radius: 0 !important



footer 
    height: 50vh
    width: 100%
    background: #222222