* 
    margin: 0
    padding: 0 
    box-sizing: 0
    // overflow-x: hidden 
    scroll-behavior: smooth

body
    overflow-x: hidden !important
    // overflow-y: hidden
    // overflow: hidden !important
    padding: 0
    margin: 0
    font-family: 'Poppins', sans-serifs !important
    background: #fefefe !important
    color: #4B4B4B

.content 
    width: 100% !important
    margin: 0
    padding: 0
    display: none

.content-fade
    animation-name: fade-in 
    animation-duration: 4s
    animation-fill-mode: forwards
    overflow: hidden !important

    @keyframes fade-in
        0%
            opacity: 0
        100%
            opacity: 1

.loading
    position: relative
    height: 100vh !important
    width: 100% !important
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #F3F8FA 100%)
    z-index: 2

    .loading-logo
        display: flex
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

        .squareLoad 
            margin-top: 95px
            background: #80fab3
            height:40px
            width: 40px
            animation: rotate
            animation-duration: 2s
            animation-iteration-count: infinite

            @keyframes rotate
                0%
                    background: #ffffff
                    transform: rotate(45deg)

                50%
                    background: #80fab3
                    transform: rotate(90deg)

                100% 
                    background: #ffffff
                    transform: rotate(380deg)

        img 
            max-height: 200px
            max-width: 300px
            margin-left: 10px

.navbar 
    background: #fefefe

.nav-item 
    .nav-link
        color: #4B4B4B 
.nav-top
    padding: 20px 10px
    .form-search
        position: relative
        input 
            border: 1px solid #4B4B4B !important
            border-radius: 0

        input:focus 
            border-color: none
            box-shadow: none
        .logo-search
            position: absolute
            z-index: 5
            top: 7px
            right: 25px
            height: 25px
            width: 25px
        
    .btn-cart
        position: relative

        img 
            margin: 6px 0 !important
            height: 25px

        .hover 
            opacity: 0

        .none-hover
            opacity: 1
            position: absolute
            height: 25px
            left: 0
            top: -6px

    .btn-cart:hover 

        .hover 
            opacity: 1

        .none-hover
            opacity: 0
            transition: 0.3s
.nav-bot
    border-bottom: 2px solid #2bcea8

.logo-brand
    height: 50px !important
    width: auto
p 
    margin-bottom: 0
    color: #4B4B4B

#loginModal 
    .modal-content
        .modal-body 
            .login-input
                position: relative

                input 
                    border: none
                    border-bottom: 1px solid #acacac
                    border-radius: 0
                    outline: none
                    box-shadow: none
                    padding-left: 30px

                i 
                    position: absolute
                    color: #4B4B4B
                    top: 9px
                    left: 1px


        button.btn-login
            background: linear-gradient(270deg, #5CC4FF 0%, #39e2bb 100%)
            color: #ffffff
            
            

.btn-sign-in, .btn-primary
    background: #2bcea8 !important
    color: #ffffff !important
    border-color: transparent !important

.btn
    border-radius: 0 !important

.btn-sign-in, .btn-primary:hover 
    background: #39e2bb !important

.ul-links
    li
        list-style: none
        padding-bottom: 10px
        a 
            color: #4B4B4B

.img-container
    position: relative
    .promo-price
        position: absolute
        left: 0
        bottom: 20px
        color: #ffffff
        background: #f13636
        padding: 10px 15px

    img
        display: block
    .overlay
        position: absolute
        top: 0
        left: 0
        color: #ffffff
        font-size: 20px
        // background: transparent
        background: #2bcea886
        opacity: 0
        overflow: hidden
        height: 100%
        width: 100%
        // transform: scale(0)
        transition: .3s ease

        .text 
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

            a 
                color: #ffffff
                text-decoration: none
                i 
                    padding: 0 5px

.gallery
    margin: 0 !important
    cursor: pointer

.img-container:hover 

    .overlay
        // transform: scale(1)
        opacity: 1

.card
    border-radius: 0
    background: #fefefe
    transition: 0.3s ease

.card-body 
    padding: 1rem !important

    .ratings
        margin-bottom: 5px
        display: flex
        align-items: center
        li 
            list-style: none
            padding-right: 5px
            i 
                color: #ffca38

        li:nth-child(6)
            font-size: 11px
            color: #727272

    .btn, .btn-sm
        border: 2px solid #2bcea8
        color: #2bcea8

    .btn-sm:hover
        color: #ffffff
        background: #2bcea8
        transition: 0.3s ease

.card:hover
    transform: scale(1.1)
    background: #ffffff

.price 
    margin-top: 10px
    h5 
        float: left
        margin: 5px 0

    a 
        float: right

.form-group 
    position: relative

    input 
        border: 1px solid #4B4B4B !important
        border-radius: 0

    input:focus 
        border-color: none
        box-shadow: none
    .logo-search
        position: absolute
        z-index: 5
        top: 7px
        right: 10px
        height: 25px
        width: 25px

#hash-text
    cursor: pointer
    width: min-content
    margin-bottom: 5px
    padding: 5px 15px
    margin: 5px 0

.hash1 
    color: #ffffff
    background: #2bcea8
.hash2 
    color: #ffffff
    background: #6ce2ff
.hash3 
    color: #ffffff
    background: #bdbdbd
.hash4 
    color: #ffffff
    background: #ffadad
.hash5 
    color: #ffffff
    background: #e1aeff

.bar
    width: 100%
    padding: 20px 10px
    position: relative

    ul 
        display: flex
        list-style: none
        margin: 0
        vertical-align: middle

        li 
            padding: 0 10px
            border-right: 1px solid #444444
            vertical-align: baseline

            a 
                text-decoration: none
                color: #4B4B4B
                vertical-align: middle
                // padding: 10px 0
            
            a:hover 
                color: #2bcea8

footer 
    height: auto
    width: 100%
    background: #1b1b1b
    color: #c9c9c9
    .row 
        .col-md-3
            h3
                padding-bottom: 30px
            
            input 
                border-radius: 0
                border: 1px solid #4B4B4B
                background: transparent
            input:focus
                box-shadow: none
                border-color: none
                border: 1px solid #2bcea8
                
    .footer-lower
        div
            padding: 10px 0
            margin: 0 auto
            border-top: 1px solid #3a3a3a
        span 
            font-size: 13px
            color: #3a3a3a
        i 
            float: right
            color: #3a3a3a
            font-size: 20px
        i:hover 
            color: #616161

            
