// @media screen and (max-width: 1400px)

@media screen and (max-width: 768px)
    .card-form
        width: 70% !important
//         // max-width: 550px !important

@media screen and (max-width: 460px)
    .navbar-brand
        .logo-brand
            height: 35px !important

    .card-form
        min-width: 90% !important
    

@media screen and (max-width: 425px)
    .loading 
        .squareLoad
            margin-top: 65px !important
            height: 27px !important 
            width: 27px !important
        img 
            height: 100px

    .content 

        h1 
            font-size: 20px !important
            padding: 0

        p 
            margin-top: 3px !important
            font-size: 0.6em