.background
    position: relative
    height: 130vh
    width: 100%
    margin: 0
    padding: 0
    background: linear-gradient(117.27deg, #39E2BB 16.11%, #008DDC 98.05%)

    .registration-form
        background: #ffffff
        height: auto
        max-width: 550px
        box-shadow: 8px 10px 25px rgba(0, 0, 0, 0.35)

    .card 
        padding: 0
        margin: 0
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

        .login-banner
            position: relative
            height: 250px
            width: 100%
            margin: 0
            padding: 0
            background: rgba(0, 0, 0, 0.5)

            .overlay
                position: absolute
                top: 0
                left: 0
                right: 0
                background: rgba(0, 0, 0, 0.4)
                height: 100%
                width: 100%

            img 
                height: 100%
                width: 100%

            h3
                padding: 10px
                background: linear-gradient(117.27deg, #39E2BB 16.11%, #008DDC 98.05%)
                text-align: center
                color: #ffffff
                margin-top: 170px
            
            // p
            //     text-align: left
            //     color: #ffffff
            //     margin: 0 40px
            //     font-size: 12px
            //     font-weight: 300

        .card-body 
            .row 
                .col-md-6, .col-md-12 
                    margin-bottom: 20px
            
