#section-7
    .container
        .row
            .col-md-6
                padding: 1rem
                
                img 
                    height: 150px
                    width: 150px
                    padding: 20px 0

                p 
                    font-size: 20px