#section-7
    .container
        .row
            .col-md-4
                padding: 1rem
                
                img 
                    height: 100px
                    width: 100px
                    padding: 15px 0