#section-4
    .container
        .row
            .card
                border-radius: 0
                background: #fefefe
                transition: 0.3s ease

                .ratings
                    display: flex
                    li 
                        list-style: none
                        padding-right: 5px
                        i 
                            color: #ffca38

                .btn, .btn-sm
                    border: 2px solid #2bcea8
                    color: #2bcea8

                .btn-sm:hover
                    color: #ffffff
                    background: #2bcea8
                    transition: 0.3s ease

            .card:hover
                transform: scale(1.1)
                background: #ffffff

                