* 
    margin: 0
    padding: 0 
    box-sizing: 0

body 
    font-family: 'Rubik', sans-serif
    // background-color: red !important

    #section-1
        background: red
        
        #myCarousel
            height: 75vh
            width: 100%
            .carousel-inner
                width: 100%
                height: 100%


